@import "tailwindcss";
@plugin "daisyui";

@theme {
  --color-accent: oklch(0.7 0.25 260);
  --color-success: oklch(0.65 0.15 155);
}

@layer base {
  :root {
    --background: white;
    --foreground: black;
  }
  
  .dark {
    --background: #0f172a;
    --foreground: white;
  }

  body {
    @apply bg-[var(--background)] text-[var(--foreground)] transition-colors duration-300;
  }
}

@import "@heroui/styles"; 
